html, body, {
    position:fixed;
    top:30;
    bottom:0;
    left:0;
    right:0;
    padding-top: 2000;
}

#logo
{
	width: 535px;
	height: 116px;
	/*width: 37.6%;*/
}
#submit 
{
	position: fixed;
	float: right;
	border-radius: 12px;
	background-color: #0C457E;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	padding: 18px;
	/*height: 8%;
	width: 14%;*/
	width: 191px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 20px;
	margin-left: 600px;
	/*margin: 1.8%;*/
}

#submit span 
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

#submit span:after 
{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

#submit:hover span 
{
	padding-right: 25px;
}

#submit:hover span:after 
{
	opacity: 1;
	right: 0;
}
#demo 
{
	position: fixed;
}
.timer1
{
	font-size: 38px;
	/*
	padding-left: 21.6%;
	*/
	margin: 30px;
	padding-left: 274px;
	font-family: sans-serif;
}
nav
{
	border-bottom: 1px solid gray;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 116px;
}

ul {
	padding: 0em;
	/*border-bottom: 1px solid gray;*/
	border-left: none;
	border-right: none;
}

nav li {
	display: inline;
	list-style-type: none;
	/*padding: 0 2em;*/
}
.vl {
	float: left;
	border-right: 1px solid gray;
	height: 650px;
	width: 29%;
	margin-top: 0%;
	left: -10%;
}
.question_side
{
	float: left;
}
#physics
{
	margin-left: 4%;
	width: 92%;
	height: 21%;
	border: 1px solid #707070;
	border-radius: 36px;
	font-family: sans-serif;
	font-size: 18px;
}
#chemistry
{
	margin-left: 5%;
	width: 90%;
	height: 21%;
	border: 1px solid #707070;
	border-radius: 36px;
	font-family: sans-serif;
	font-size: 18px;
}
#maths
{
	margin-left: 5%;
	width: 90%;
	height: 21%;
	border: 1px solid #707070;
	border-radius: 36px;
	font-family: sans-serif;
	font-size: 18px;
}
#english
{
	margin-left: 5%;
	width: 90%;
	height: 21%;
	border: 1px solid #707070;
	border-radius: 36px;
	font-family: sans-serif;
	font-size: 18px;
}
.qbtn
{
	margin-top: 6px;
	border: 1px solid #000000;
	border-radius: 50%;
	width: 8.6%;
	background-color: #FFF;
	font-size: 15px;
	margin-right: 4px;
}
#q100
{
	padding-left: 0px;
	font-size: 14px;
}
.qbtn:hover
{
	background-color: #0B73DB;
}
#q1
{
	background-color: #17EE42;
}
#q3
{
	background-color: #FF0000;
}
#q4
{
	background-color: #0B73DB;
}



.nav_btns 
{
	float: left;
	border: 1px solid black;
	border-radius: 12px;
	background-color: #FFF;
	color: #000;
	text-align: center;
	font-size: 12px;
	padding: 6px;
	/*height: 8%;
	width: 14%;*/
	transition: all 0.5s;
	cursor: pointer;
	margin: 20px;
	/*margin: 1.8%;*/
}
.nav_btns span 
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

#prev
{
	width: 90px;
}

#prev span:before
{
	content: '\00ab';
	position: absolute;
	opacity: 0;
	top: 0;
	left: -20px;
	transition: 0.5s;
}

#prev:hover span 
{
	padding-left: 15px;
}

#prev:hover span:before 
{
	opacity: 1;
	left: 0;
}

#next
{
	width: 75px;
}
#next span:after 
{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

#next:hover span 
{
	padding-right: 15px;
}

#next:hover span:after 
{
	opacity: 1;
	right: 0;
}

.mc
{
	float: left;
	border: 1px solid black;
	border-radius: 12px;
	background-color: #FFF;
	color: #000;
	text-align: center;
	font-size: 12px;
	padding: 6px;
	/*height: 8%;
	width: 14%;*/
	width: 80px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 20px;
	/*margin: 1.8%;*/
}

#btn_div1
{
	margin-bottom: 60px;
}
#btn_div2
{
	float: left;
	margin-left: 10px;
	width: 950px;
	margin-bottom: 30px;
	border-bottom: 1px solid #707070;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #FF0000;
    text-decoration: none;
    cursor: pointer;
}


.modal-head {
    padding-left: 12px;
    background-color: #0B73DB;
    color: white;
}

.modal-body 
{
	padding: 2px 16px;
}

.confirm {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 6px;
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 15px 2px;
    margin-left: 60px;
    cursor: pointer;
}

#yes {background-color: #008CBA;} /* Blue */
#no {background-color: #f44336;} /* Red */ 